@font-face {
   font-family: 'horizon (1)';
   font-display: swap;
   src: url('file:///C:/Users/lucaf/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-06-24_002750/fonts/horizon%20(1)/font.ttf');
}
